body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-11.5% , -10%);
    box-sizing: border-box;
    background-color: rgba(156, 153, 153, 0.5);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid rgb(10, 2, 51);
}
.titre{
    margin:0; 
    padding: 0 0 10px;
    font-weight: bold;
    columns: #ffff;
    text-align: center;
}
label{
    margin: 0;
    padding: 0;
    color: black;
    font-weight: bold;
}
p{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bolder;
}
.btn{
    background: transparent ;
    border: none;
    outline: none ; 
    color: #fff ; 
    background: rgb(10, 2, 51);
    padding: 10px 20px ;
    cursor: pointer ;
    border-radius: 5px ;
    margin-bottom: 5px ;
    bottom: -100%;
}
#cin{
    margin-bottom: 5px ;
    width: 15%;
}
#nom{
    margin-bottom: 10px ;
    width: 20%;
}
#prénom{
    margin-bottom:10px ;
    width: 20%;
}
#email{
    margin-bottom:10px ;
    width: 20%;
}
#type{
    margin-bottom:10px ;
    width: 20%;
}
#Option1 , #Option2 , #Option3 , #Option4{
    margin-bottom:10px ;
    width: 20%;

}
#Sdate {
    margin-bottom: 5px ;
    width: 20%; 
 
}
#Edate {
    margin-bottom: 5px ;
    width: 20%;
 
}
.actif{
    background-color: rgba(156, 153, 153, 0.5);
    border-radius: 3px;
}

/*.form input{
    margin-bottom: 5px ;
    width: 20%;

}
*/
