*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D6D0F9;
    box-sizing: border-box;
    font-family: sans-serif;
}
.moth{
    list-style: none;
 }
 .parent > .moth{
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
    opacity: .8;
    cursor: pointer;
    border-bottom: 0.5px solid white;

}
#new{
    text-decoration: none;   
    color: white;
}
